<div id='container'>The player will be placed here</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js">
</script>

<script type="text/javascript">

  var flashvars = {
    file:'<%= asset_path(type) %>',
    streamer:'rtmp://<%= RH_CONFIG["wowza_host"] %>/vod'
  };

  swfobject.embedSWF('<%= root_path %>/jwplayer/player.swf','container','480','270','9.0.115','false', flashvars,

   {allowfullscreen:'true',allowscriptaccess:'always'},
   {id:'jwplayer',name:'jwplayer'}

  );

</script>
