<h2>Video Files</h2>
<ul id="video-file-list" class="nav nav-tabs nav-stacked">
  <% @afdoc.videos.each_key do |type| %>
    <% unless @afdoc.videos[type].empty? %>
      <% @afdoc.videos[type].each_index do |index| %>
        <li id="<%= @afdoc.videos[type][index].pid.gsub(/:/,"_") %>">
          <%= render_tech_info_button type, index %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>