<h2>Video Files</h2>
<ul id="video-file-list" class="nav nav-tabs nav-stacked">
  <% @afdoc.videos.each_key do |type| %>
    <% unless @afdoc.videos[type].empty? %>
      <% @afdoc.videos[type].each_index do |index| %>
        <li id="<%= @afdoc.videos[type][index].pid.gsub(/:/,"_") %>">
          <%= link_to( (type.to_s.capitalize + " (" + (index + 1).to_s + ")"),
                       external_video_path(@afdoc.videos[type][index].pid),
                       :remote=>true ) %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>