<div class="document_viewer" id="cover_container">

  <h2 id="digital" class="section-title">Digital File</h2>
  <%= render :partial => "external_videos/show/instantiation", :locals => {:content_type => "external_video"} %>

  <h2 class="section-title">Rockhall Metadata</h2>
  <%= render :partial => "external_videos/show/rockhall", :locals => {:content_type => "external_video"} %>

</div>

<% sidebar_items << capture do %>
  <%= link_to("Show original", catalog_path(@document_fedora.containers.first.pid)) %>
<% end %>