<h2>Video Files</h2>
<ul class="nav nav-tabs nav-stacked">
  <% @video.videos.each_key do |type| %>
    <% unless @video.videos[type].empty? %>
      <% @video.videos[type].each do |file| %>
        <li><a href="#"><%= type.to_s.capitalize %>: <%= file.name.first %></a> </li>
      <% end %>
    <% end %>
  <% end %>
</ul>