<a><%= video.name.first %></a>
<table class="table table-striped">
  <% field_names.each do |field| %>
    <% #unless video.send(field.to_sym).first.blank? %>
      <tr>
        <th><%= field.gsub(/_/," ").capitalize %> </th>
        <td><%= display_tech_data_field(field) %></td>
      </tr>
    <% #end %>
  <% end %>
</table>