.bundle
db/*.sqlite3
log/*.log
tmp/*
jetty/*
*.swp
.rspec
spec/fixtures/rockhall/sips/rockhall_fixture_pbcore_document1/info.dat
gems
test_support/fixtures
public/cucumber.html
public/assets/*
nohup.out
hydra-rock.sublime-project
hydra-rock.sublime-workspace
.DS_Store
spec/fixtures/exports/*.xml
bin
.rvmrc
!tmp/.gitkeep