content = '<%= escape_javascript render :partial => "pbcore_nodes/edit/contributors", :locals => { :document => document } %>';
$("div#contributors_form").replaceWith('<div id="contributors_form">' + content + '</div>');