content = '<%= escape_javascript render :partial => "pbcore_nodes/edit/publishers", :locals => { :document => document } %>';
$("div#publishers_form").replaceWith('<div id="publishers_form">' + content + '</div>');