<% document.publisher_name.each_index do |index| %>
  <%= text_field_tag "archival_video[publisher_name][#{index.to_s}]", document.publisher_name[index],
                     :id => ("publisher_name_" + index.to_s), :class=>"edit span3" %>
  <%= select_tag "archival_video[publisher_role][#{index.to_s}]",
                 options_for_select(Relators.marc.keys.sort, document.publisher_role[index]),
                 {:id => ("publisher_name_" + index.to_s)} %>
  <%- # TODO: see note with contributors %>
  <a href="/pbcore_nodes/<%= params[:id] %>?index=<%= index.to_s %>&amp;node=publisher" data-method="delete" data-remote="true" rel="nofollow">Delete</a>
  <br/>
<% end %>