<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-file"></i> New <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <%= list_available_assets_to_create %>
  </ul>
</li>