<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-file"></i> New <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <%= list_available_assets_to_create %>
    <% if allow_video_import %>
      <li class = "divider"></li>
      <li class="nav-header">Import</li>
      <li><%= link_to("Videos", import_archival_video_path(params[:id]), :id => "import_video_modal", :class => "more_facets_link") %></li>
    <% end %>
  </ul>
</li>