<div class="well"><h1><%= @document["title_display"] %></h1></div>

  <div class="alert alert-error">
    DigitalVideo model is deprecated
  </div>

  <p>
    This video is using the DigitalVideo model, which has been deprecated and needs to be converted
    to the ArchivalVideo model.
  </p>
  <pre>
    > obj = DigitalVideo.find("<%= @document.id %>")
    > obj.from_digital_video
  </pre>