<table class="table table-striped">
  <tr>
    <th class="pull-left">
      <%= link_to_edit_asset('Edit&nbsp;<i class="icon-pencil"></i>', "external_video").html_safe %>
    </th>
  </tr>
  <% ExternalVideo::FieldList.each do |field| %>
    <%= display_tabular_field video.send(field), field.to_s %>
  <% end %>
</table>