<table class="table table-striped table-condensed">
	<% unless params[:display_type] == 'list' %>
  <tr>
    <th class="format">Format</th>
    <th class="title">Title</th>
    <th class="deposited">Deposited</th>
    <th class="reviewed">Reviewed</th>
    <th class="files">Bookmark</th>
  </tr>
  <% end %>
  <% docs.each_with_index do |document,counter| %>
   <%= render_document_partial document, 'index', :counter => counter %>
  <% end %>
</table>
