<tr>
  <td>
    <%= image_tag("rockhall/#{document_type(document).underscore}.png", :size=>"30x30") %>
  </td>
  <td>
    <%= link_to((document[:heading_display].nil? ? document[:id] : document[:heading_display].first),
                get_asset_path(document),
                :"data-counter" => (counter + 1 + @response.params[:start].to_i)) %>
  </td>
  <td style="white-space: nowrap">
    <%= DateTime.parse(document.fetch(:system_create_dt,nil)).strftime("%Y-%m-%d") %>
  </td>
  <td style="text-align: center">
    <%= get_review_status(document) %>
  </td>
  <td style="text-align: center">
    todo
    <% #render :partial => "catalog/folder_control" %>
  </td>
</tr>
