<% geographic_name = get_values_from_datastream(@document_fedora,"descMetadata", [:mods, {:subject=>geographic_counter}, :geographic]).first %>
<% base_id = "subject_#{geographic_counter}" %>
<% unless geographic_name.empty? %>
  <dl class="geographic subject" id="<%= base_id %>">
    <dt>Geographic Subject:</dt>
    <dd class="multi_inline subject">
      <ul>
        <li class="name">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>geographic_counter}, :geographic], "Geographic") %>
          <%= geographic_name %>
        </li>
      </ul>
    </dd>
  </dl>
<% end %>
  
