<% conference_name = get_values_from_datastream(@document_fedora,"descMetadata", [:mods, {:subject=>conference_counter}, :conference, :namePart]).first %>
<% base_id = "subject_#{conference_counter}" %>
<% unless conference_name.first.empty? %>
  <dl class="conference subject" id="<%= base_id %>">
    <dt>Conference Subject:</dt>
    <dd class="multi_inline subject">
      <ul>
        <li class="name">
          <%= fedora_field_label("descMetadata", [:mods, {:subject=>conference_counter}, :conference, :namePart], "Conference") %>
          <%= conference_name %>
        </li>
      </ul>
    </dd>
  </dl>
<% end %>

