<!-- footer row -->
<div class="row">
  <div class="span12">
    <div class="contact_info"></div>
    <div class="aux_links"></div>
    <div id="footer_notices" class="well">
      <div id="bottom_text">
        <div id="hydra_logo"><%= image_tag('hydra/powered_by_hydra.png', :width => 80, :height => 50, :alt => "Hydra logo") %></div>
      </div>
    </div>
  </div>
</div>