<div class="well">
<h3>Legend</h3>
  <table class="table table-stripped">
    <tr>
      <td style="white-space: nowrap"><%= image_tag "rockhall/archival_video.png", :size=>"30x30" %></td>
      <td>Archival Video: record for a video that comprises multiple files and tapes</td>
    </tr>
    <tr>
      <td style="white-space: nowrap"><%= image_tag "rockhall/physical_instantiation.png", :size=>"30x30" %></td>
      <td>Video Tape: a single video tape that is part of an Archival Video</td>
    </tr>
    <tr>
      <td style="white-space: nowrap"><%= image_tag "rockhall/digital_instantiation.png", :size=>"30x30" %></td>
      <td>Video File: a single video file that is part of an Archival Video</td>
    </tr>
  </table>
</div>