<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
      <%= link_to application_name, root_path, :class => "brand" %>

      <!-- Navbar items when user is logged in -->
      <div class="nav-collapse">
        <ul class="nav pull-left flash_messages">
          <%= render_add_assets %>
          <%= navbar_items.join("").html_safe %>
        </ul>
      </div>

      <div id="searchbar">         
        <%= render_search_bar unless request.original_url.match(/users/) %>
      </div>      
      
    </div>
  </div>
</div>