<h1>New Archival Collection</h1>

<%= form_for @afdoc, :html => {:class => 'form-vertical'} do |f| %>

  <fieldset id="required_id">
    <legend>Collection ID</legend>
    <p class="legend-caption">
      Enter the id of the archival collection, such as ARC-0001
    </p>
    <%= f.text_field :pid, :value=>nil, :class => "edit span2" %>
  </fieldset>

  <%= f.submit "Save Changes", :class => "btn-primary btn-large" %>

<% end %>
