<% document.additional_collection.each_index do |index| %>
  <div class="control-group form-inline">
    <%= text_field_tag "document_fields[additional_collection][#{index.to_s}]", document.additional_collection[index],
                       :id => ("additional_collection_" + index.to_s), :class=>"edit span3" %>    
    <%= render_remove_nodes_button "collection", index %>
  </div>
<% end %>