<h1>New Digital Video</h1>

<%= form_for @afdoc, :html => {:class => 'form-vertical'} do |f| %>

  <fieldset id="required_title">
    <legend>Required Title</legend>
    <p class="legend-caption">
      A single, main title is required.  This may be the title of the event or program, it
      may be the title as it appears on the source tape
    </p>
    <%= f.label :main_title, :class=>"field" %>
    <%= f.text_field :main_title, :value => @afdoc.main_title.first, :class => "edit span6", :required=>TRUE %>
  </fieldset>

  <%= f.submit "Save Changes", :class => "btn-primary btn-large" %>

<% end %>
