<li>
  <% if params[:action] == "edit" %>
    <!-- multiple needs to be explicitly set to FALSE. For some reason, it's getting set to TRUE -->
    <%= fedora_text_field(@document_fedora, "descMetadata", [{:contributor=>contributor_counter}, :name], {:size=>40, :multiple=>FALSE}) %>
    <%= fedora_select(@document_fedora,"descMetadata", [{:contributor=>contributor_counter}, :role], :choices=>Relators.marc.keys.sort).html_safe %>
  <% else %>
    <span>
      <%= get_values_from_datastream(@document_fedora, "descMetadata", [{:contributor=>contributor_counter}, :name]) %>,
      <%= contributor_link(contributor_counter) %>
    </span>
  <% end %>
</li>


