<% unless @document_fedora.datastreams["descMetadata"].find_by_terms(node.to_sym).empty? %>
<dt>
  <% count = @document_fedora.datastreams["descMetadata"].find_by_terms(node.to_sym).count %>
  <% count > 1 ? label = node.capitalize.pluralize : label = node.capitalize %>
  <label for="<%= node %>"><%= label %></label>
</dt>
<dd id="<%= node %>" class="field">
  <ul><%= display_fieldset(node.to_sym, {:edit=>true}) %></ul>
</dd>
<% end %>