<%
  # On create: series_counter and series variables come from the controller
  # On edit: they come from the defaults in the render call
  series_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:series=>series_counter}]).first
  base_id = "series_#{series_counter}"
%>

<li>
  <% if params[:action] == "edit" %>
    <%= fedora_text_field(@document_fedora, "descMetadata", [{:series=>series_counter}, :name], {:size=>80, :multiple=>FALSE}) %>
  <% else %>
    <%= get_values_from_datastream(@document_fedora, "descMetadata", [{:series=>series_counter}, :name] ) %>
  <% end %>
</li>