<%
  # On create: topic_counter and topic variables come from the controller
  # On edit: they come from the defaults in the render call
  topic_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:topic=>topic_counter}]).first
  base_id = "topic_#{topic_counter}"
%>

<li>
  <% if params[:action] == "edit" %>
    <%= fedora_text_field(@document_fedora, "descMetadata", [{:topic=>topic_counter}], {:size=>40, :multiple=>FALSE}) %>
    <%= fedora_select(@document_fedora, "descMetadata", [{:topic=>topic_counter}, :ref], :choices=>Relators.lc, :include_blank => true).html_safe %>
  <% else %>
    <%= get_values_from_datastream(@document_fedora, "descMetadata", [{:topic=>topic_counter}]) %>
  <% end %>
</li>