<%= render :partial=>'/flash_msg' %>
<%= form_tag transfer_archival_video_path, :class => "form-inline ajax_form", :id => "import_videos" do %>
  <div class="modal-header">
    <button type="button" class="close refresh_videos" id="close_modal" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Select Video</h3>
  </div>
  <div class="modal-body">
    <fieldset>
      <legend>PID</legend>
      <p>Enter Rockhall ID number</p>
    
      <%= text_field_tag "source", nil, :placeholder => "rrhof:1234" %>
      <%= submit_tag "Transfer", :id => "import_videos_button", :confirm => "Are you sure? This is NOT undoable!" %>

    </fieldset>
  </div>
<% end %>