<h1><%= @video.main_title.first %></h1>

<%= render_submission_workflow_step -%>

<% navbar_items << capture do %>
  <% unless params[:new_asset] %>
    <%= workflow_dropdown("archival_videos") %>
  <% end %>
  <%= render_user_navbar("archival_videos") %>
<% end %>