<h1><%= @video.main_title.first %></h1>

<%= render_submission_workflow_step -%>

<% unless params[:new_asset] %>
  <% sidebar_items << capture do %>
    <%= edit_and_show_links %>
    <%= display_sidebar_nav("archival_videos") %>
  <% end %>
<% end %>