defaults: &defaults
  location:       /Users/adamw/Sites/bag
  host:           http://localhost/~adamw/bag
  depositor:      awead@rockhall.org
  hostname:       http://localhost:3000/
  solr_discovery: http://localhost:8985/solr/blacklight-dev
  pid_space:      changeme
  wowza_host:     localhost

development:
  <<: *defaults

test:
  <<: *defaults
  location:       /Users/adamw/Sites/test
  host:           http://localhost/~adamw/test

production:
  <<: *defaults
  location:       /production/folder
  host:           http://production_host/webfolder