<ul class="nav nav-list">
  <li>
    <a data-toggle="collapse" data-parent="#facet_menu" href="#<%= facet_field.field %>_twiddle">
      <%= facet_field.label -%>
    </a>
  </li>

  <div id="<%= facet_field.field %>_twiddle" class="collapse facets">
    <%= yield %>
  </div>
</ul>
