<h1> Info </h1>
<p>
Hydra is an open-source digital asset management system that utilizes Fedora repository
software to store digital content, and a Solr index for searching.
</p>

<% unless @activities.empty? %> 
  <h1>Recent Activity</h1>

  <% @activities.each do |activity| %>
    <%= render_activity(activity) %>
  <% end %>
  <%= link_to "See all activity", activities_path %>
<% end %>

<h1> Uses </h1>
<p>
Museum staff may request downloaded copies of any file for use with Musuem-related projects
or for use with outside members of the media, such as requests for video content
from news agencies.
</p>
<p>
If you need copies of video or have questions regarding using Hydra, please contact
the library staff at <%= mail_to("library@rockhall.org") %>
</p>