<% if show_sort_and_per_page? and !blacklight_config.sort_fields.blank? %>
  <div id="sort-dropdown" class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Sort
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <%- blacklight_config.sort_fields.each do |sort_key, field| %>
        <li><%= link_to(field.label, url_for(params_for_search.merge(:sort => sort_key))) %></li>
      <%- end -%>
    </ul>
  </div>
<% end %>