<script type="text/javascript" charset="utf-8">
  // Add VideoJS to all video tags on the page when the DOM is ready
  VideoJS.setupAllWhenReady();
</script>

<div class="video-js-box">
  <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
  <video class="video-js" width="640" height="264" controls preload poster="<%= image_path("rockhall/pre-screen.png") %>">
    <source src="<%= asset_link(:h264) %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
    <source src="" type='video/webm; codecs="vp8, vorbis"' />
    <source src="" type='video/ogg; codecs="theora, vorbis"' />
    <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
    <object id="flash_fallback_1" class="vjs-flash-fallback" width="640" height="264" type="application/x-shockwave-flash"
      data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
      <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
      <param name="allowfullscreen" value="true" />
      <param name="flashvars"
        value='config={"playlist":["http://video-js.zencoder.com/oceans-clip.png", {"url": "http://george.rockhall.org/bag/rrhof_660/data/39156042439120_access.mp4","autoPlay":false,"autoBuffering":true}]}' />
      <!-- Image Fallback. Typically the same as the poster image. -->
      <img src="http://video-js.zencoder.com/oceans-clip.png" width="640" height="264" alt="Poster Image"
        title="No video playback capabilities." />
    </object>
  </video>
</div>