/* 

  CSS-specific syles for the Flow Player video plugin

*/

/* playlist that appears underneath when there are multiple parts */
#playlist div {
  width: 550px;
  float:left;
  color:#fff;
  background-color: #333;
  text-align:center;
  width:180px;
  height:16px;
  padding: 0px 0px 5px 0px;
  font-size:14px;
  margin: 0px 5px 0px 0px;
  cursor:pointer;
}

#playlist div:last-child {
  margin-right:0;
}

/* mouseover state */
#playlist div:hover {
  background-color: #666;
}

/* clicked state */
#playlist div.playing, #playlist div.paused {
  background-color: #fff;
  color: #000;
}

/* active item */
#playlist div:active {
  cursor:default;
  background-color: #ededed;
  color: #444;
}
