/* 

  CSS-specific syles for the Flow Player video plugin

*/

/* Player is in a well, which normally has a bottom margin but we want the playlist
   to appear directly underneath it */
#player {
  margin-bottom: 0px;
}

/* The playlist js uses the progress class, which appears to conflict with bootstrap so we
   do some overriding here. */
#playlist .progress {
  height: 0px;
  margin: 0px;
  padding: 8px 12px 28px 12px;
}