/*
   Source file:

   https://github.com/flowplayer/www/blob/master/content/media/css/playlist/dots.styl

*/

#dots {
  hgroup {
    /* info box */
    position: absolute;
    top: 3%;
    left: 2%;
    width: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    margin: 0;
    color: #999;
    display: none;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 1;
    h1 {
      font-size: larger;
    }
    h2 {
      color: #fff;
      font-weight: bold;
      line-height: 1.5;
    }
  }
  .fp-embed {
    /* embedding disabled */
    display: none;
  }
  .fp-playlist {
    /* small dots on bottom right */
    position: absolute;
    bottom: 10%;
    right: 2%;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    z-index: 2;
    -webkit-transition: opacity 1s 0.5s;
    -moz-transition: opacity 1s 0.5s;
    transition: opacity 1s 0.5s;
    a {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      display: block;
      float: left;
      margin-right: 8px;
      background-color: #fff;
      cursor: pointer;
      border: 1px solid black;
      &:hover {
        background-color: #ddd;
      }
      &.is-active {
        background-color: black !important;
      }
    }
  }
  &.is-mouseover {
    hgroup, .fp-playlist {
      opacity: 1;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      transition-delay: 0;
    }
  }
  &.video0 .info0, &.video1 .info1, &.video2 .info2, &.video3 .info3 {
    display: block;
  }
}

@media (max-width: 600px) {
  #dots hgroup {
    width: 300px;
    h1 {
      font-size: 25px;
    }
  }
}
