/*
 Local stylings
*/

body { padding-top: 60px; }

// Hide text label for bookmark toggle when using tables
td .toggle_bookmark {
  
  span { display: none; }

}

#video-file-list {
  
  i {
    float: right;
    opacity: .25;
  }

}