/*
 Local stylings
*/

body { padding-top: 60px; }

// Hide text label for bookmark toggle when using tables
td .toggle_bookmark {
  
  span { display: none; }

}

#video-file-list {
  
  i {
    float: right;
    opacity: .25;
  }

}

.well-info {
  
  background: #FFF;
}

.well-inverse {

  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

.thumbnail {
  
  max-height: 60px;

}

.navbar-form {
  padding: 10px;
}

a.btn.more_facets_link {
  margin-bottom: 5px;
}
