/*
 Local stylings
*/

@import 'bootstrap';
@import 'bootstrap-responsive';

// Just import facet stylings.  If you want to import the entire
// blacklight style do:
// @import 'blacklight/blacklight';
@import 'blacklight/facets';

body { padding-top: 60px; }

// Hide text label for bookmark toggle when using tables
td .toggle_bookmark {
  
  span { display: none; }

}

#video-file-list {
  
  i {
    float: right;
  }

}

.well-info {
  
  background: #FFF;
}

.well-inverse {

  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

.thumbnail {
  
  max-height: 60px;

}

.navbar-form {
  padding: 10px;
}

a.btn.more_facets_link {
  margin-bottom: 5px;
}

#flash_message {
  margin: 40px 0 0;
  width: 500px;
}

@-webkit-keyframes greypan
{
  from {background: #FFF;}
  to   {background: #CCC;}
}

.loading {
  -webkit-animation: greypan 500ms linear infinite alternate;
}

// Tech button
.show_tech_info .icon-chevron {
  background-position: -456px -72px;
  opacity: .5;
}

.hide_tech_info .icon-chevron {
  background-position: -313px -119px;
  opacity: 1;
}

.loading .icon-chevron {
  background-position: -48px  -24px;
}

li:hover .icon-chevron {
  opacity: 1;
}

.btn-dropdown {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: inherit;
  white-space: nowrap;
  text-decoration: inherit;
  &:hover {
    text-decoration: none;
    color: $white;
    background: #0081c2;
  }
}
