<% if allow_asset_creation %>
<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <%= list_available_assets_to_create %>
  </ul>
</div>
<% end %>
