<div class="well">
<h3>Legend</h3>
  <table class="table table-stripped">
    <tr>
      <td style="white-space: nowrap"><%= image_tag "rockhall/digital_video.png", :size=>"30x30" %></td>
      <td>Digital Video: born digital content with no analog or physical source</td>
    </tr>
    <tr>
      <td style="white-space: nowrap"><%= image_tag "rockhall/archival_video.png", :size=>"30x30" %></td>
      <td>Archival Video: digitized video from an original physical source</td>
    </tr>
  </table>
</div>